
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.banner-container{
    height: 100vh;
}

.gallery-container {
        position: sticky;
        height: 80vh;
        top: 0;
      padding: 0;
      margin: 0;
    }

    .gallery-frame{
      position: relative;
      width: 100%;
    height: 100%;
    }

.Slide {
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner-content {
  position: absolute;
  background: rgb(0, 0, 0);
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  article{ 
    color: white; /* Text color */
  margin: 1em 1em 1em 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.925); /* Add a shadow for better visibility */
  }

  h1 {
    font-size: 2.5em; /* Adjust the font size as needed */
  }

  p {
    font-size: 1.3em; /* Adjust the font size as needed */
  }

  span{
    font-size: 1.3em; /* Adjust the font size as needed */

    font-weight: bold;
  }
}

.thumbnail {
  margin-bottom: 20px;
}

.thumbnail-image {
  height: 12em;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.caption {
  span {
    font-size: 1em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines to show before ellipsis */
  }

  p {
    font-size: 1.2rem; /* Adjust the font size as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines to show before ellipsis */
  }
}

.time-and-views {
    display: flex;
    flex-direction: column;
    margin-left: 5px;

    span{
        font-size: 0.8em;
        font-weight: bold;
        margin-left: 5px;
    }
  }

  .published-day {
    display: flex;
    align-items: center;
    padding: 0 0 5px 5px;
  }
  
  .views {
    display: flex;
    align-items: center;
    padding: 0 0 5px 5px;
  }

  .icon-container {
    width: 20px;
    height: 20px;

    img{
        width: 100%;
        height: 100%;
    }
  }

